<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcampus.dao.CardMapper" >
  <resultMap id="BaseResultMap" type="com.smartcampus.entity.Card" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="card_vid" property="cardVid" jdbcType="VARCHAR" />
    <result column="card_balance" property="cardBalance" jdbcType="VARCHAR" />
    <result column="sq_id" property="sqId" jdbcType="VARCHAR" />
    <result column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.smartcampus.entity.Card" >
    insert into card (id, card_vid, card_balance, 
      sq_id, auth_id, state)
    values (#{id,jdbcType=INTEGER}, #{cardVid,jdbcType=VARCHAR}, #{cardBalance,jdbcType=VARCHAR}, 
      #{sqId,jdbcType=VARCHAR}, #{authId,jdbcType=INTEGER}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smartcampus.entity.Card" >
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cardVid != null" >
        card_vid,
      </if>
      <if test="cardBalance != null" >
        card_balance,
      </if>
      <if test="sqId != null" >
        sq_id,
      </if>
      <if test="authId != null" >
        auth_id,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardVid != null" >
        #{cardVid,jdbcType=VARCHAR},
      </if>
      <if test="cardBalance != null" >
        #{cardBalance,jdbcType=VARCHAR},
      </if>
      <if test="sqId != null" >
        #{sqId,jdbcType=VARCHAR},
      </if>
      <if test="authId != null" >
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>